// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: white;
}

.home-writting{
  position: absolute;
  bottom: 4rem;
  right: 2.6rem;
  margin: 3rem;
}

.ok{
  font-family: 'DM Serif Display', serif;
  color:rgb(255, 109, 109);
  letter-spacing: 1px;
  font-size: 3rem;
}

.okk{
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  color:#000000;
}

.main{
  position: relative;
  padding-top: 6vh;
  background: url("https://res.cloudinary.com/mamounbenbra/image/upload/v1625249042/yes-3_tx3was.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: white;
  letter-spacing: 3px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 70px;
  padding-right: 70px;
  border-top: rgba(255, 255, 255, 0.342) solid 0.5px;
  border-bottom: rgba(255, 255, 255, 0.342) solid 0.5px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  margin: 0px;
  text-decoration: none;
}

.nav-links li{
  list-style: none;
  margin-left: 3rem;
}

.nav-links a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

.img_preview{
  width: 50px;
}

.r{
  display: flex;
  justify-content: center;
  justify-content: center;
  background-color: rgba(255, 122, 122, 0.678);
  height: auto;
  padding: 80px;
  margin-top: 80px;
  align-items: center;
}

.second{
  color: white;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.7rem;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.second p{
  margin-bottom: 0px;
}

.card{
  height: 80vh;
  padding: 30px;
  width: auto;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 70px;
  background-size: cover;
  border: 4px solid rgba(255, 109, 109, 0.603);
}

.img{
  width: auto;
  max-height: 30vh;
  margin: 4px;
  margin-top: 0px;
  border-radius: 5px;
  object-fit: cover;
}

h1{
  text-align: center;
  font-family: 'Cairo', sans-serif;
  color:rgb(255, 109, 109);
  letter-spacing: 3px;
  font-size: 2rem;
}

.new{
  background-color: white;
  margin: 1rem;
}

.new p{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  color:#ff5959;
}

@media screen and (max-width: 570px) {

  .img{
    max-height: 40vh;
  }

  .card{
    height: auto;
  }

  .home-writting{
  position: absolute;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 8rem;
  margin: 1rem;
  }
  .home-writting .ok{
    font-size: 2rem;
    color:rgb(255, 255, 255);
  }
  .home-writting .okk{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
  }
  .main{
  position: relative;
  padding-top: 6vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 35%, #FCA1A1), url('https://res.cloudinary.com/mamounbenbra/image/upload/v1625248848/yes_khrn3a.jpg');
  background-size: cover;
  width: 100vw;
  background-position: 0rem;
  height: 83vh;
  background-repeat: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  }
  nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  border: none;
  margin-top: 4vw;
}
  .nav-links a{
  color: #ffffff;
  padding: 10px;
  padding-top: 5px;
  border: 1px solid rgb(255, 255, 255);
  padding-bottom: 5px;
  background-color: #ffffff3f;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  }
  .img_preview{
  width: 80px;
  }
  .r{
    padding: 40px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 400px) {
.second{
    font-size: 1.5rem;
    text-align: justify;
  }
}

@media screen and (max-width: 350px) {
    .home-writting{
  position: absolute;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 4rem;
  padding: 0.1rem;
  }
  .second{
    font-size: 1.4rem;
    text-align: justify;
    margin: 0px;
  }
  .r{
    padding: 10px;
  }
}
