// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.label-hidden{
  display: none;
}

.u{
  height: 25vh;
  border-radius: 10px;
  border: 4px solid white;
  margin-bottom: 10px;
}

.img_card{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -1.5rem;
  text-align: center;
  width: 3rem;
  border-radius: 30px;
  padding: 7px;
  background-color: #ffffff;
  border: 4px solid #fbcda2;
}

.red{
   border: 4px solid #fbcda2;
   transition: 2s ease;
}

.yes5{
  font-size: 3rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
   &:hover{
     color: rgb(129, 129, 129);

   }
}

.yes7{
  font-size: 2.5rem;
  margin-top: 0rem;
  color: rgb(236, 255, 70);
  display: flex;
  justify-content: center;
  text-decoration: none;
   &:hover{
     color: rgb(208, 255, 0);
     display: inline-block;
     text-decoration: none;
   }
}

.yes6{
  font-size: 2.5rem;
  margin-top: 0rem;
  color: rgb(255, 109, 109);
  display: flex;
  justify-content: center;
  text-decoration: none;
   &:hover{
     color: rgb(255, 2, 2);
     display: inline-block;
     text-decoration: none;
   }
}


a{
  color: white;
}

.ques{
  color: #ffffff;
  font-size: 2rem;
  font-family: 'Cairo', sans-serif;
  line-height: 2.1rem;
}

.repo{
  font-size: 1.3rem;
  color:#808080;
  margin-bottom: 2rem;
}

body{
  background-color: white;
  font-size: 1.2rem;
  color:rgb(102, 102, 102);
  font-family: 'Rajdhani', sans-serif;
}

.home-writting{
  position: absolute;
  bottom: 4rem;
  right: 2.6rem;
  margin: 3rem;
}

.img_yes{
  width: inherit;
  margin-bottom: 30px;
}

.linkw{
  margin-bottom: 30px;
}

.ok{
  font-family: 'DM Serif Display', serif;
  color:#ff8b1e;
  letter-spacing: 1px;
  font-size: 3rem;
}

.okk{
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  color:#494949;
}

.row{
  margin: 0px;
}

.row1{
  margin-bottom: -50px;
}

.main{
  position: relative;
  padding-top: 6vh;
  background: url("https://res.cloudinary.com/mamounbenbra/image/upload/v1625249042/yes-3_tx3was.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: white;
  letter-spacing: 3px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 70px;
  padding-right: 70px;
  border-top: rgba(255, 255, 255, 0.342) solid 0.5px;
  border-bottom: rgba(255, 255, 255, 0.342) solid 0.5px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  margin: 0px;
  text-decoration: none;
}

.nav-links li{
  list-style: none;
  margin-left: 3rem;
}

.nav-links a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

.img_preview{
  width: 50px;
}

.contactez{
  padding: 2rem;
  margin-top: 1rem;
}


.r{
  display: flex;
  justify-content: center;
  justify-content: center;
  background-color: rgb(255, 193, 136);
  height: auto;
  padding: 80px;
  margin-top: 80px;
  align-items: center;
}

.second{
  color: white;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.second2{
  color: white;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.second p{
  margin-bottom: 0px;
}

.avoir{
  &:hover{
    color: rgb(252, 183, 119) !important;
  }
}

.laavoir{
  color: white;
  font-size: 1.5rem !important;
  &:hover{
    color: rgb(255, 255, 255) !important;
    text-decoration: solid white 2px;
  }
}

.lyft{
  width: 100vw;
  background-color: #ffbe82;
  color: white;
  height: auto;
}

.lyft1{
  padding: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card{
  position: relative;
  min-height: 75vh;
  max-height: 80vh;
  padding: 30px;
  width: auto;
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 70px;
  background-size: cover;
  border: 4px solid #fbcda2;
    &:hover{
        border-radius: 15px;
        border: 4px solid #ffb672;
        transition: 0.5s ease-in;
    }
}

.card p{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  color:#797979;
}
.card h4{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
  color:#797979;
}
.card h5{
  //price
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
  color:#797979;
}

.img{
  width: auto;
  max-height: 30vh;
  margin: 4px;
  margin-top: 0px;
  border-radius: 5px;
  object-fit: cover;
}

.imgR{
  max-height: 50vh;
  border-radius: 10px;
}

.soin {
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 5px 10px 5px 10px;
  background-color: rgb(255, 255, 255);
  border: solid 4px #fbcda2;
  border-radius: 10px;
}

.yesss{
  color: red;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.soin1 {
  padding: 5px 15px;
  margin-bottom: 20px;
  border-bottom: solid 1px #ffffff;
  border-top: solid 1px #ffffff ;
  font-size: 1.5rem;
  border-radius: 10px;
  color: white;
}

h1{
  text-align: center;
  font-family: 'Cairo', sans-serif;
  color:#ffbe82;
  letter-spacing: 3px;
  font-size: 2rem;
}

h1.n{
  font-size: 1.7rem;
  color: #ffbe82;
}

h1.n1{
  font-size: 3rem;
  color: #ffffff;
  text-align: center;
}

.new{
  background-color: white;
  margin-top: 0.5rem !important;
}

p .new{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  color:#797979;
}

.heure {
  position: absolute;
  bottom: 2px;
  right: 15px;
}

.price {
  position: absolute;
  bottom: 2px;
  font-family: 'Cairo', sans-serif;
  left: 15px;
}

.savoir{
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  margin: auto;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  width: auto;
  font-size: 1rem;
  color: white;
  font-family: 'Cairo', sans-serif;
  background-color:rgb(255, 207, 162);
  border-radius: 10px;
  width: 10rem;
    &:hover{
      text-decoration: none;
      background-color: transparent;
      border: 0.4px solid rgb(255, 207, 162);
      color: rgb(252, 183, 119);
      border-radius: 10px;
      transition: 0.5s ease-in-out;
    }
}

.env{
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  color: white;
  font-family: 'Cairo', sans-serif;
  background-color:rgb(255, 207, 162);
  border-radius: 10px;
  border: none;
  margin-bottom: 30px;
  margin-top: 10px;
    &:hover{
      padding: 8.3px;
      text-decoration: none;
      background-color: transparent;
      border: 2px solid rgb(255, 207, 162);
      color: rgb(252, 183, 119);
      border-radius: 10px;
      transition: 0.2s ease-in;
    }
}

.env1{
  text-decoration: none;
  text-align: center;
  padding: 7px;
  font-size: 1rem;
  color:#ffb36c;
  font-family: 'Cairo', sans-serif;
  background-color:rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 10px;
    &:hover{
      padding: 6px;
      text-decoration: none;
      background-color: transparent;
      border: 1px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      border-radius: 10px;
    }
}

.la{
  position: relative;
}

.form-control {
  border-radius: 6px;
}

.form-group {
    margin-bottom: 1.3rem;
}

label {
    display: inline-block;
    margin-bottom: 0.05rem;
}

abbr[title="required"] {
  display: none;
}

.ret{
  margin-top: 40px;
  text-decoration: none;
  text-align: center;
  padding: 3px 10px;
  border: 0.2px solid #888888;
  font-size: 1rem;
  color: rgb(112, 112, 112);
  font-family: 'Cairo', sans-serif;
    &:hover{
      border-radius: 5px;
      transition: 0.5s ease-in-out;
      text-decoration: none;
      color: #000000;
    }
}
.form-control{
  border: none;
  border-bottom: 1px solid #ffe4cb;
  border-top: 1px solid #ffe4cb;
}

.savoir1{
  padding: 10px;
  font-size: 1rem;
  color: white;
  font-family: 'Cairo', sans-serif;
  background-color:#FF6250;
  border-radius: 10px;
  width: 10rem;
  &:hover{
    color: #FF6250;
    background-color: rgb(255, 255, 255);
    border: solid 0.5px #FF6250;
    padding: 9px;
    text-decoration: none;
    transition: 0.3s ease;
  }
}

.ic{
  color: #6d6d6d !important;
  font-size: 1.5rem;
  &:hover{
    color: #fbcda2 !important;
  }
}

.c{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.yessir{
  margin-top: 50px;
    font-family: 'Cairo', sans-serif;
    color: rgb(252, 183, 119);
}

.yay{
  padding: 4rem;
  width: 70vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 9px;
  border: solid 2px #FF6250 ;
  margin-top: 4rem;
  margin-bottom: 4rem;

}
.new1{
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 23px 15px;
  background-color: #FF6250;
  border-radius: 50%;
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
  color:#ffffff;

}
.yay1{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
  color:#797979;
}
.yay3{
  text-align: center;
  letter-spacing: 2px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  color:#ffbe82;
}

.footer{
  height: 25vh;
  width: 100vw;
  background-color: #ffbe82;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  padding: 0px 150px
}
.icon{
  color: white;
    &:hover{
      color: #acacac;
      transition: 1s ease;
    }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait){
   .card{
    min-height: 60vh;
   }
   .nav-links a{
     color: rgb(255, 255, 255);
     font-size: 1.6rem;
     padding: 5px 10px;
     border: white solid 2px;
     border-radius: 10px;
   }
  nav{
     border: none;
  }
   .img_preview {
    width: 100px;
  }
  .main{
    background-position-x: -15rem;
  }
}

@media screen and (max-width: 570px) {

  .repo{
  font-size: 1.4rem !important;
  color: #808080;
  margin-bottom: 2rem;
}

.contactez{
  padding: 15px;
}

  .lyft1{
    padding: 20px;
  }

  .euh{
    display: none;
  }

  .img{
    max-height: 30vh;
  }

  .footer{
    padding: 30px;
  }

  .yay{
    width: 90vw;
    padding: 50px 20px 30px 20px;
  }

  .new1{
    top: -40px;
    left: 20px;
  }

  .card{
    height: 70vh;
    min-height: 70vh;
  }

  .yes4{
    width: 100vw;
    background-color: white
  }

  .question{
    font-size: 4rem !important;
    font-family: 'Cairo', sans-serif;
    color: white;

  }
  .home-writting{
  position: absolute;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 3rem;
  margin: 1rem;
  }
  .home-writting .ok{
    font-size: 2rem;
    color:rgb(255, 255, 255);
  }

  .okk1{
    font-size: 2.7rem;
    color:rgb(255, 255, 255);
  }

  .ok{
    display: none;
  }

  .home-writting .okk{
    font-size: 1.6rem;
    color: rgb(255, 255, 255);
  }
  .main{
  position: relative;
  padding-top: 6vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgb(255, 193, 136)), url('https://res.cloudinary.com/mamounbenbra/image/upload/v1625248848/yes_khrn3a.jpg');
  background-size: cover;
  width: 100vw;
  background-position: 0rem;
  height: 83vh;
  background-repeat: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  }
  nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  padding-left: 4vw;
  padding-right: 4vw;
  border: none;
  margin-top: 4vw;
}
   .nav-links a{
     color: rgb(255, 255, 255);
     font-size: 1.3rem;
     padding: 5px 10px;
     border: white solid 2px;
     border-radius: 10px;
   }
  .img_preview{
  width: 80px;
  }
  .r{
    padding: 40px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 414px) {
  .second{
    font-size: 1.5rem;
    text-align: justify;
  }
  .card{
    min-height: none;
    height: 100px;
  }
}

@media screen and (width: 375px) {
  .card{
    height: 72vh;
  }
}

@media screen and (max-width: 350px) {
    .home-writting{
  position: absolute;
  right: 0.5rem;
  left: 0.5rem;
  bottom: 4rem;
  padding: 0.1rem;
  }
  .second{
    font-size: 1.4rem;
    text-align: justify;
    margin: 0px;
  }
  .r{
    padding: 10px;
  }
  .card{
    height: 100vh;
  }
  .img{
    height: 25vh;
  }
}
