// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.home-writting{
  position: absolute;
  bottom: 4rem;
  right: 2.6rem;
  margin: 3rem;
}

.ok{
  font-family: 'Lobster', cursive;
  color:#ffb158;
  font-size: 3rem;
}

.okk{
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2rem;
  color:#000000;
}

.main{
  position: relative;
  padding-top: 6vh;
  background-image: url(DSC09601-2.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-repeat: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  color: white;
  letter-spacing: 3px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding-left: 70px;
  padding-right: 70px;
  border-top: rgba(255, 255, 255, 0.342) solid 0.5px;
  border-bottom: rgba(255, 255, 255, 0.342) solid 0.5px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  margin: 0px;
  text-decoration: none;
}

.nav-links li{
  list-style: none;
  margin-left: 3rem;
}

.nav-links a{
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  letter-spacing: 3px;
}

@media screen and (max-width: 600px) {
  .home-writting .ok{
    font-size: 2.5rem;
  }
  .home-writting .okk{
    font-size: 2rem;
  }
}
