<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <h1 class='mb-5 con'>Cette page n'existe pas!</h1>
  <%= link_to "Retour à la page d'accueil" , root_path, class:"ret mb-1 mt-4 w-50" %>
</body>
</html>
