  <div class="footer">
    <%= link_to("https://www.instagram.com/lyftbyevy/", target: "_blank") do %>
      <i class="icon fab fa-instagram"></i>
    <% end %>
    <div class='logo'>
        <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1624923536/SIGLE_LYFT_BY_EVY_OR_ynxj3f.png', :class => "img_preview")%>
      </div>
    <%= link_to("https://www.facebook.com/profile.php?id=100009249302877", target: "_blank") do %>
                    <i class="icon fab fa-facebook-f"></i>
    <% end %>
  </div>
</div>
 <% if user_signed_in? %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
<% end %>
