<div class="main">
  <nav>
    <div class='logo'>
      <%=image_tag('sigle', size: "50x50")%>
    </div>
    <ul class='nav-links'>
      <li>
        <a href="">Biographie</a>
      </li>
      <li>
        <a href="">Contact</a>
      </li>
      <li>
        <a href="">Travaux</a>
      </li>
    </ul>
  </nav>
  <div class="home-writting text-center">
      <h1 class='ok'>Evy Cifaï - facialiste</h1>
      <h4 class='okk'>Casablanca & Paris</h4>
    </div>
  </div>
</div>

