<div class="main">
  <nav>
    <div class='logo'>
      <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1624923536/SIGLE_LYFT_BY_EVY_OR_ynxj3f.png', :class => "img_preview")%>
    </div>
    <ul class='nav-links'>
      <li>
        <a href="">Contact</a>
      </li>
    </ul>
  </nav>
  <div class="home-writting text-center">
      <h1 class='ok'>Evy Cifaï - facialiste</h1>
      <h4 class='okk'>Casablanca & Paris</h4>
    </div>
  </div>
</div>
<div class="r">
  <div class="second col-lg-8 col-sm-12">
      <p>Evy est facialiste depuis plus de 15 ans. Elle a créé sa méthode L.Y.F.T by Evy en combinant le Face yoga, le Face training et le Face massage. C’est sur une connaissance solide du savoir-faire asiatique, exclusivement manuel, qu’elle élabore chacun de ses soins en fonction des besoins de chaque personne.</p>
    </div>
</div>

