  hello <%= current_user.first_name %> !
  <%= current_user.phone_number %>
  <div class="col-lg-4 container mt-5">
  <%= link_to new_user_booking_path(current_user) do %>
      <p class='env w-100'>Réserver une séance</p>
  <% end %>
  <%= link_to new_jour_path do %>
      <p class='env w-100'>Ajouter une journée</p>
  <% end %>
  </div>
