<div class='lyft pt-5'>
   <%= render "shared/nav" %>
  <div class="row justify-content-center">
    <div class="lyft1 justify-content-center col-md-8 col-sm-12 col-lg-6">
     <div class="la d-flex flex-column align-items-center justify-content-center">
        <h1 class="n1 mt-5 mb-3">Rituel Lyft by Evy @Home</h1>
        <p class="soin1 mb-5">Un jolie cadeau de noel</p>
         </div>
        <p class='text-justify repo'>@HOMELiftez votre visage grâce à la méditation! Un voyage singulier à l’intérieur de son visage en combinant le "self massage" et la "face meditation". Le Lyft flower combiné au Lyft Elixir est une caresse pour la peau qui illuminera les teints ternes et asphyxiés. Élaborés spécialement en modèles de voyage, vous emportez partout avec vous votre rituel Lyft by Evy @Home dans sa pochette minimaliste inspiré d’Asie. Faites vous plaisir en profitant toute l'année du Lyft by Evy @home ou en l'offrant aux femmes de vos vies, au gré de vos envies.
        </p>
    </div>
  </div>
 <%= render "shared/footer" %>


