<div class="container justify-content-center contactez col-lg-4 col-md-6 col-sm-12">
  <h4 class='mb-5 con'>Votre message a bien été envoyé! Je vous repondrai dans les plus cours délais.</h4>
  <%= link_to "Retour à la page d'accueil", root_path, class:"env mt-4 w-100" %>
</div>
