
<div class="container c contactez col-lg-6 col-md-6 col-sm-12">
 <%= link_to root_path do %>
      <%=image_tag('https://res.cloudinary.com/mamounbenbra/image/upload/v1624923536/SIGLE_LYFT_BY_EVY_OR_ynxj3f.png', :class => "text-center img_preview")%>
      <% end %>
  <h4 class='yessir text-center mb-5'>Votre message a bien été envoyé! Je vous repondrai dans les plus cours délais.</h4>
  <%= link_to "Retour à la page d'accueil", root_path, class:"env mt-4 w-100" %>
</div>
