<div class="container contactez col-lg-4 col-md-6 col-sm-12">
  <div class="d-flex w-100 align-items-center p-1 mb-2 mt-4 justify-content-center">
    <%= link_to("https://www.instagram.com/lyftbyevy/", target: "_blank") do %>
      <i class="fab ic fa-instagram"></i>
    <% end %>
    <%= link_to("https://www.facebook.com/profile.php?id=100009249302877", target: "_blank") do %>
      <i class="icon fab ic ml-4 fa-facebook-f"></i>
    <% end %>
  </div>
  <h1 class='mb-5 con'>Contactez-moi sur evy.cifai@gmail.com</h1>
    <%#= simple_form_for [@contact] do |f| %>
        <%#= f.input :name, :error => "Nom Obligatoire", :label => "Nom"%>
        <%#= f.input :email, :label => "Email"%>
        <%#= f.input :message, :error => "Message Obligatoire", as: :text%>
        <%#= f.submit "Envoyer", class:"env w-100"%>
      <%# end %>
        <%= link_to "Retour à la page d'accueil", root_path, class:"ret mb-1 mt-4 w-50" %>
  </div>
